.vscode
data
pytorch/data
pytorch/src/*.pyc
pytorch/src/__pycache__
pytorch/trained_models
pytorch/training
pytorch/validation
pytorch/testing
tensorflow/data
tensorflow/src/*.pyc
tensorflow/src/__pycache__
tensorflow/trained_models
tensorflow/training
tensorflow/validation
tensorflow/testing
